body {
  line-height: 1.6;
  display: grid;
  grid-template-columns: 1fr repeat(5, 2fr) 1fr;
  grid-gap: 0px 12px;
  margin: auto;


}

.container  > * {
  grid-column: 2 / -2;
  list-style-type: none;
  font-family: Muli;
}

ul, li {
  list-style-type: none;
  text-align: center;
  padding: 0;
  display: inline;
}

h3 {
  font-family: Lato;

}
.navbar {
  float: right;
  padding-top: 25px;
}

.nav {
  padding-right: 12px;
}

.si-logo {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.si-sub-headline {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.si-hero-img {
  grid-column: 1 / -1;
}

.si-hero-container {
  background-image: url(../images/si-hero-img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #333;
  color: #fff;
  grid-column: 1 / -1;
  height: 500px;

}

.si-icon-white {
    display: block;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    padding-top: 170px;
}

.si-sub-headline {
    font-size: 1em;
}



.all-RDT {
  display: grid;
  grid-template-columns: 1fr repeat(3, 4fr) 1fr;
  grid-template-areas:
  ". container-section-RDT1 container-section-RDT2 container-section-RDT3 .";
  text-align: center;
  background-color: #EEEAEA;
  grid-column: 1 / -1;
  height: 20vh;
}

.container-section-RDT1 {
  grid-area: container-section-RDT1;

}

.container-section-RDT2 {
  grid-area: container-section-RDT2;
}

.container-section-RDT3 {
  grid-area: container-section-RDT3;
}

.prob-sol-left {
  grid-column: 2 / span 2;
  grid-row: 4
}

.prob-sol-right {
  grid-column: 5 / span 2;
  grid-row: 4;
}

.container-research {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: .65fr 1.3fr 5fr .65fr;
 
  grid-template-areas: 
      ". results-side-header results-para .";
  grid-row: 5;
  background-color: #F3E4DF;

}

.results-side-header {
    grid-area: results-side-header;
}
.results-para {
  grid-area: results-para;

}

.container-research-percentages {
  display: grid;
  grid-template-columns: 1.4fr 4fr;
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
    ". percent1"
    ". percent2"
    ". percent3"
    ". percent4"
    ". percent5"
      ;
  grid-column: 1 / -1;
  grid-row: 6;
  font-size: 1em;
  background-image: url(../images/plants.png);
  color: #F3E4DF;
  text-align: left;
}

.percent1 {
    grid-area: percent1;
}

.percent2 {
    grid-area: percent2;
}

.percent3 {
    grid-area: percent3;
}

.percent4 {
    grid-area: percent4;
}
.percent5 {
    grid-area: percent5;
}

.container-comp-analysis {
  grid-column: 2;
  grid-row: 7;
}

.ana-para {
  grid-column: 3 / span 4;
  grid-row: 7;
}

.container-bottom-line {

  grid-column: 1 / -1;


  grid-row: 8;
  text-align: center;
  background-color: #2A404E;
  color: white;
}

.
.bottom-line-header {
  grid-area: bottom-line-header;
  grid-column: 2;
  
}

.bottom-line-li1 {
  grid-area: li.bottom-line-li1;

}

.bottom-line-li2 {
  grid-area: li.bottom-line-li2;

}

.bottom-line-li3 {
  grid-area: li.bottom-line-li3;

}



.container-personas {
  grid-column: 2;
  grid-row: 9;
}
.personas-first-liner {
  grid-column: 3 / span 4;
  grid-row: 9;

}

.container-personas-boxes {
  display: grid;
  grid-template-columns: repeat(2, 3fr) 1fr repeat(2, 3fr);
  grid-template-areas:
  ". persona-l . persona-r .";
  grid-row: 10;
  line-height: 1em;

}

.persona-l {
  grid-area: persona-l;
  grid-column:
}
.persona-r {
  grid-area: persona-r;

}

.persona-header {
  text-align: center;
}

.all-stories {
  background-image: url(../images/user-stories-background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 75vh;
  grid-column: 1 / -1;

  grid-row: 11;
  display: grid;
  grid-template-columns: .5fr 1fr 4fr .5fr;
  grid-template-areas:
  ". stories-side-header stories-para .";

}


.stories-side-header {
  grid-area: stories-side-header;
  color: white;

}
.stories-para {
grid-area: stories-para;
color: white;
}

.container-user-flows {
  grid-column: 2;
  grid-row: 12;
}

.flows-para {
  grid-column: 3 / span 4;
  grid-row: 12;
}

.container-branding {
  grid-column: 2;
  grid-row: 13;
}

.branding-para {
  grid-column: 3 / span 4;
  grid-row: 13;
}

.container-wireframes {
  grid-column: 2;
  grid-row: 14;
}

.wireframes-para {
  grid-column: 3 / span 4;
  grid-row: 14;
}

.iterations {
  grid-column: 2;
  grid-row: 15;
}
.iterations-para {
  grid-column: 3 / span 4;
  grid-row: 15;
}

.container-learned {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: .5fr 1.3fr 4fr .5fr;
  grid-template-rows: 1fr 3fr;
  grid-template-areas:
  ". . . ."
  ". learned-side-header learned-para .";
  grid-row: 16;
  background-image: url(../images/Takeaways.png);
  color: white;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
}

.learned-side-header {
    grid-area: learned-side-header;
}

.learned-para {
  grid-area: learned-para;
  
}

.contact {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 2fr 3fr;
  grid-template-areas:
  ". connect-title ."
  ". connect-blurb .";
  grid-row: 17 / span 2;
  text-align: center;
  background-color: #F3E4DF;
}

.connect-title {
  grid-area: connect-title;
  padding: 0;
  font-size: 1.6em;
  

}
.connect-blurb {
  grid-area: connect-blurb;

}

a.social-link {
    padding: 12px;
}
