* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  line-height: 1.6;
  display: grid;
  grid-template-columns: 1fr repeat(5, 2fr) 1fr;
  grid-gap: 0px 12px;
  margin: auto;
  font-family: 'Muli';

}

.container  > * {
  grid-column: 2 / -2;
  list-style-type: none;
  font-family: Muli;
}



ul, li {
  list-style-type: none;
  text-align: center;
  padding: 0;
  display: inline;
}

h1, h2, h3 {
  font-family: Lato;
}

a {
  text-decoration: underline #BC8F8F;
  transition: color .2s ease;
}

/* unvisited link */
a:link {
    color: #2A404E;
}

/* visited link */
a:visited {
    color: #B8860B;
    
}

/* mouse over link */
a:hover {
  color: #aaa;
}

/* selected link */
a:active {
  color: #DB7093;
}

.p-logo {
  margin-top: 18px;
  width: 65px;
  height: 65px;
}



.hero-intro {
  margin-top: 1.5em;
  font-size: 3em;
  text-align: center;
  display: block;
  color: #2A404E;
  font-family: Lato;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  /*border-right: .1em solid ;  The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .1em; /* Adjust as needed */
  animation:
    typing 4s steps(40, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #DCAE1D }
}

.hero-description, .headline {
  align-items: center;
  justify-content: center;
  display:flex;
  text-align: center;
  font: Lato;
  font-weight: lighter;
    
}

/*.container-projects {
  display: grid;
  margin: 100px;
  grid-gap: 1em;
  grid-template-columns: 1fr 2fr 1fr 2fr 1fr;
  grid-template-areas: 
   ". project1 . project2 ."
   ". project3 . project4 .";
  text-align: center;
} */

.container-projects {
  display: grid;
  margin: 100px;
  grid-gap: 1em;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: 
   ". project1 .";
  text-align: center;
}


@media (max-width: 600px) {
 .container-projects {
   display: grid;
   text-align: center;
   grid-template-columns: 2fr;
   grid-template-areas:
    "project1";
    "project2"
    "project3"
    "project4";
   margin: 50px 0px;
 }
 }

.project1 {
    grid-area: project1;
    
}

.project2 {
    grid-area: project2;
}

.project3 {
    grid-area: project3;
}

.project4 {
    grid-area: project4;
}

div.card {
    
  width: 200px;
  height: 250px;
}

.project-img {
  
  height: 300px;
}

div.overlay {
  
  background-color: white;
  opacity: 0.5;
  filter: alpha(opacity=60); /* For IE8 and earlier */
  color: antiquewhite;

}

.overlay {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  max-width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #FFFAFA;
  
  border-color: #FFE4E1;
  color: white; 
} 

.project1:hover .overlay {
  opacity: 1;
}

.project2:hover .overlay {
  opacity: 1;
}

.project3:hover .overlay {
  opacity: 1;
} 

.text {
  color: #2A404E;
  font-size: 1.4em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}





.navbar {
  float: right;
  padding-top: 25px;
 
}

.navbar li {
    list-style-type: none;
    text-align: center;
    padding: 0;
    display: inline;
    padding: 12px;
}


a.btn {
    color: #FFF;
    transition: all 0.3s;
    position: relative;
    text-decoration: none;
    border: none;
    padding: 15px 32px;
}



.hero-btn {
    margin-top: 10%;
    text-align: center;
    
}
.btn::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(255,255,255,0.5);
    border-bottom-color: rgba(255,255,255,0.5);
    transform: scale(0.1, 1);
}
.btn:hover span {
    letter-spacing: 2px;
}
.btn:hover::before {
    opacity: 1;    
    transform: scale(1, 1);    
}
.btn::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(255,255,255,0.1);
}
.btn:hover::after {
    opacity: 0;    
    transform: scale(0.1, 1);
}



.si-sub-headline {
    text-align: center;
    position: relative;
    margin-top: 60px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.si-hero-img {
  grid-column: 1 / -1;
}

.si-hero-container {
  background-image: url(../images/si-hero-img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #333;
  color: #fff;
  grid-column: 1 / -1;
  height: 500px;
}

.si-icon-white {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}

.all-RDT {
  display: grid;
  grid-template-columns: 1fr repeat(3, 4fr) 1fr;
  grid-template-rows: 1fr 4fr 1.2fr;
  grid-template-areas:
      ". . . . ."
      ". container-section-RDT1 container-section-RDT2 container-section-RDT3 ."
      ". . . . .";

  text-align: center;
  background-color: #EEEAEA;
  grid-column: 1 / -1;
  height: auto;
}

.container-section-RDT1 {
  grid-area: container-section-RDT1;
  height: auto;
}

.container-section-RDT2 {
  grid-area: container-section-RDT2;
}

.container-section-RDT3 {
  grid-area: container-section-RDT3;
}



.prob-sol {
  display: grid;
  /* grid-template-columns: 1fr 3fr 1fr 3fr 1fr; */
  
  grid-template-areas: 
      ". question . problem ."
      ". q-para . prob-para ."
      ". . . solution ."
      ". . . sol-para ."; 

  
  grid-row: 4;
  padding: 25px 0 25px 0;
}

.question {
    grid-area: question;
    grid-column: 2 / 3;
    margin-bottom: 0px;
}

.problem {
    grid-area: problem; 
    margin-bottom: 0px;
}

.solution {
    grid-area: solution;
    margin-bottom: 0px;
    margin-top: 0px;
}

.q-para {
    grid-area: q-para;
    margin-right: 22px;
}

.prob-para {
    grid-area: prob-para;
    margin-bottom: 0px;
}


.sol-para {
    grid-area: sol-para;
}

.si-li {
  display: block;
}
.container-research {
  display: grid;
  grid-template-columns: .6fr 1.1fr 4.3fr .6fr;
  grid-template-rows: 1fr 4fr 1fr;
  grid-template-areas:
      ". . . ."
      ". results-side-header results-para ."
      ". . . .";
  grid-column: 1 / -1;
  grid-row: 5;
  background-color: #F3E4DF;
}

.results-side-header {
  grid-area: results-side-header;
}

.results-para {
  grid-area: results-para;
  background-color: #F3E4DF;
  
}

.container-research-percentages {
  display: grid;
  grid-template-columns: 1.4fr 4fr;
  grid-template-rows: repeat(5, .5fr);
  grid-template-areas:
    ". percent1"
    ". percent2"
    ". percent3"
    ". percent4"
    ". percent5";
  grid-column: 1 / -1;
  grid-row: 6;
  font-size: 1.1em;
  background-image: url(../images/plants.png);
  color: whitesmoke;
  text-align: left;
  padding: 12px;
}

.percent1 {
    grid-area: percent1;
    
}

.percent2 {
    grid-area: percent2;
}

.percent3 {
    grid-area: percent3;
}

.percent4 {
    grid-area: percent4;
}

.percent5 {
    grid-area: percent5;
}


.container-comp-analysis {
  display: grid;
  grid-template-columns: .6fr 1.1fr 4.3fr .6fr;
  grid-template-rows: 1fr 4fr 1fr;
  grid-template-areas:
      ". . . ."
      ". ana-side-header ana-para ."
      ". . . .";
  grid-column: 1 / -1;
  grid-row: 7;
}

.ana-side-header {
  grid-area: ana-side-header;
}

.ana-para {
  grid-area: ana-para;
 
 
}

.container-bottom-line {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr 1.2fr 3fr 1fr;
  grid-template-areas:
      ". . ."
      ". bottom-line-header ."
      ". bottom-line-li .";
  grid-column: 1 / -1;
  grid-row: 8;
  align-items: center;
  background-color: #2A404E;
  color: white;
}

.bottom-line-header {
    grid-area: bottom-line-header;
}

.bottom-line-li {
    grid-area: bottom-line-li;
}

h3.bottom-line-header {
  text-align: center;
  margin: 0;
}

.bottom-line-li li{
  display: block;
  text-align: center;
  margin: 0;
  padding: 0;

}


.container-personas {
  grid-column: 2;
  grid-row: 9;
  margin-top: 1.3em;
}
.personas-first-liner {
  grid-column: 3 / span 4;
  grid-row: 9;
  margin-top: 1.3em;

}

.container-personas-boxes {
  display: grid;
  grid-template-columns: 4.2fr 4fr 1fr 4fr 3fr;
  grid-template-areas:
  ". persona-l . persona-r .";
  grid-column: 1 / -1;
  grid-row: 10;
  line-height: 1em;
  margin-bottom: 1.3em;

}

.persona-l {
  grid-area: persona-l;
}

.persona-r {
  grid-area: persona-r;

}

.persona-header, .persona-desc {
  text-align: center;
}

.desc-uppercase {
    font-weight: bold;
}
.img-brandon, .img-sarah {
    border-radius: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.all-stories {
  background-image: url(../images/user-stories-background.png);
  max-width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
 
  height: 80%;
  grid-column: 1 / -1;

  grid-row: 11;
  display: grid;
  grid-template-columns: .5fr 1fr 4fr .5fr;
  grid-template-rows: 1fr 5fr 1fr;
  grid-template-areas:
  ". . . ."
  ". stories-side-header stories-para ."
  ". . . .";

}

.stories-img {
  max-width: 100%;
  height: auto;
}

.stories-side-header {
  grid-area: stories-side-header;
  color: white;

}
.stories-para {
grid-area: stories-para;
color: white;
}

/*.container-comp-analysis {
  display: grid;
  grid-template-columns: .6fr 1.1fr 4.3fr .6fr;
  grid-template-rows: 1fr 4fr 1fr;
  grid-template-areas:
      ". . . ."
      ". ana-side-header ana-para ."
      ". . . .";
  grid-column: 1 / -1;
  grid-row: 7;
}

.ana-side-header {
  grid-area: ana-side-header;
}

.ana-para {
  grid-area: ana-para;
 
}*/

.container-user-flows {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: .6fr 1.1fr 4.3fr .6fr;
  
  grid-template-areas:
  
  ". flows-side-header flows-para ."
  ". . . .";
  grid-row: 12;
  margin-top: 1.3em;
}

.flows-side-header {
  grid-area: flows-side-header;
}

.flows-para {
  grid-area: flows-para;
}

.flows-img {
  max-width: 100%;
  height: auto;
  width: 600px;
}

.container-branding {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: .6fr 1.1fr 4.3fr .6fr;
  grid-template-rows: .5fr 3fr .5fr;
  grid-template-areas:
  ". . . ."
  ". branding-side-header branding-para ."
  ". . . .";
  grid-row: 13;
 
}

.branding-side-header {
  grid-area: branding-side-header;
}

.branding-para {
  grid-area: branding-para;
   
}

.branding-img {
  max-width: 100%;
  height: auto;
  width: 600px;
}

.container-wireframes {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: .6fr 1.1fr 4.3fr .6fr;
  grid-template-rows: .5fr 3fr .5fr;
  grid-template-areas:
  ". . . ."
  ". wireframes-side-header wireframes-para ."
  ". . . .";
  grid-row: 14;
}

.wireframes-side-header {
  grid-area: wireframes-side-header;
}

.wireframes-para {
  grid-area: wireframes-para;

}

.wireframe-img {
    width: 30%;
    height: 180px;
    width: 200px;
    margin-top: 12px;
}

.iterations {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: .6fr 1.1fr 4.3fr .6fr;
  grid-template-rows: 3fr .1fr 3fr;
  grid-template-areas:
  
  ". iterations-side-header iterations-para ."
  "d-iteration-img d-iteration-img d-iteration-img d-iteration-img";
  grid-row: 15;

}

.iterations-side-header {
    grid-area: iterations-side-header;
}

.iterations-para {
  grid-area: iterations-para;

}



.iteration-img {
    margin-top: 22px;
    width: 250px;
    height: auto;
}

.d-iteration-img {
    grid-area: d-iteration-img;
    margin-top: 22px;
    width: 300px;
    height: auto;
}

.container-lightbox {
   display: grid;
    
    grid-template-columns: .6fr repeat(4, 1fr) .6fr;
    grid-template-areas:
        "d-iteration-img1 d-iteration-img2 d-iteration-img3 d-iteration-img4"
}

.d-iteration-img1 {
    grid-area: d-iteration-img1;
    width: 350px;
    height: auto;
}

.d-iteration-img2 {
    grid-area: d-iteration-img2;
    width: 350px;
    height: auto;
    
}

.d-iteration-img3 {
    grid-area: d-iteration-img3;
    width: 350px;
    height: 237px;
}

.d-iteration-img4 {
    grid-area: d-iteration-img4;
    width: 350px;
    height: 238px;
}
.container-learned {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: .6fr 1.1fr 4.3fr .6fr;
  grid-template-rows: .5fr 2fr .5fr;
  grid-template-areas:
  ". . . ."
  ". learned-side-header learned-para ."
  ". . . .";
  grid-row: 16;
  background-image: url(../images/Takeaways.png);
  color: white;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  height: auto;
 
}

.learned-side-header {
    grid-area: learned-side-header;
}

.learned-para {
  grid-area: learned-para;
 
}

/* .btn-invision-bottom {
  
  margin-top: 50px;
  grid-column: -2 / -3;
  text-align: center;
  margin-right: 20%;
} */

.contact {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: .25fr .25fr .75fr .25fr;
  grid-template-areas:
  ". . . "
  ". connect-title ."
  ". connect-blurb .";
 
  text-align: center;
  background-color: #F3E4DF;

}

.connect-title {
  grid-area: connect-title;
  padding: 0;
  font-size: 1.6em;
  margin: 0;
  color: #2A404E;
 

}
.connect-blurb {
  grid-area: connect-blurb;
    color: #2A404E;

}

.social li {
    padding-right: 20px;
}

.container-portrait {
    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-template-areas: 
        "portrait-img para-portrait";
    grid-gap: 12px;
}

.portrait-img {
    grid-area: portrait-img;
    margin-bottom: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.para-portrait {
    grid-area: para-portrait;
    margin-bottom: 50px;
    margin-top: 0px;
}



*********************************

/*MEDIA QUERIES*/


/*Mobile*/
   
@media (max-width: 600px) {
    .hero-intro {
      animation:
        typing 1s steps(50, end);    
    }
}
@media (max-width: 600px) {
  .prob-sol {
    display: grid;
    grid-template-columns: .1fr 5fr .1fr;
    grid-template-areas: 
        ". question ."
        ". q-para ."
        ". problem ."
        ". prob-para ."
        ". solution ."
        ". sol-para .";
  }
   .solution {
     margin-top: 32px;  
    }
}

@media (max-width: 600px) {
.all-RDT {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: .1fr 5fr .1fr;
  grid-template-rows: 4fr;
  grid-template-areas:
     
      ". container-section-RDT1 ."
      ". container-section-RDT2 ."
      ". container-section-RDT3 .";

  text-align: center;
  grid-column: 1 / -1;
  height: auto;
}
}



    
@media (max-width: 600px) {
.container-research {
  display: grid;
  grid-template-columns: .6fr 4.3fr .6fr;
  grid-template-rows: .2fr 3fr;
  grid-template-areas:
      ". results-side-header ."
      ". results-para .";
  grid-column: 1 / -1;
  grid-row: 5;
}
.results-side-header {
  margin-bottom: 0;
}
}

@media (max-width: 600px) {
.container-research-percentages {
  display: grid;
  grid-template-columns: .6fr 4.3fr;
  grid-template-rows: repeat(5, .5fr);
  grid-template-areas:
    ". percent1"
    ". percent2"
    ". percent3"
    ". percent4"
    ". percent5";
  grid-column: 1 / -1;
  grid-row: 6;
  font-size: 1em;
  
}
}

@media (max-width: 600px) {
.container-comp-analysis {
  display: grid;
  grid-template-columns: .6fr 4.3fr .6fr;
  grid-template-rows: .2fr 3fr;
  grid-template-areas:
      ". ana-side-header ."
      ". ana-para .";
  grid-column: 1 / -1;
  grid-row: 7;

 }
.ana-side-header {
  margin-bottom:0;   
 }
}

@media (max-width: 600px) {
.container-personas-boxes {
  display: grid;
  grid-template-columns: .6fr 4.3fr .6fr;
  grid-template-rows: 2fr 2fr;
  grid-template-areas:
  ". persona-l . "
  ". persona-r .";
  grid-column: 1 / -1;
  grid-row: 10;
  line-height: 1em;

 }
}
  
@media (max-width: 600px) {
.all-stories {
  height: 260px;
  grid-column: 1 / -1;
  grid-row: 11;
  display: grid;
  grid-template-columns: .6fr 4.3fr .6fr;
  grid-template-rows: .2fr 3fr;
  grid-template-areas:
    ". stories-side-header ."
    ". stories-para .";
    }
.stories-side-header {
   margin-bottom:0;   
 }
    }
    

@media screen and (max-width: 600px) {
  .stories-img {
     display: none;  
    }
}
    
@media (max-width: 600px) {
.container-user-flows {
  grid-column: 1 / -1;
  grid-row: 12;
  display: grid;
  grid-template-columns: .6fr 4.3fr .6fr;
  grid-template-rows: .2fr 3fr;
  grid-template-areas:
    ". flows-side-header ."
    ". flows-para .";
    }
.flows-side-header {
   margin-bottom:0;   
 }
    }
    
@media screen and (max-width: 600px) {
  img.flows-img {
    width: 550px;
    height: 150px;
    }
}

@media (max-width: 600px) {
.container-branding {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: .6fr 4.3fr .6fr;
  grid-template-rows: .2fr 3fr;
  grid-template-areas:
  
  ". branding-side-header ."
  ". branding-para .";
  
 }
.branding-side-header {
   margin-bottom:0;   
 }
    
}
}

@media screen and (max-width: 600px) {
  img.branding-img {
    width: 550px;
    height: 150px;
    }
}

@media (max-width: 600px) {
.container-wireframes {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: .6fr 4.3fr .6fr;
  grid-template-rows: .2fr 3fr ;
  grid-template-areas:
  ". wireframes-side-header ."
  ". wireframes-para .";
  }
    
.wireframes-side-header {
  margin-bottom:0;   
 }
}
 
@media (max-width: 600px){
 .iterations {
   display: grid;
   grid-column: 1 / -1;
   grid-template-columns: .6fr 4.3fr .6fr;
   grid-template-rows: .1fr 3.7fr ;
   grid-template-areas:
   ". iterations-side-header ."
   ". iterations-para .";
}
 .iterations-side-header {
  margin-bottom:0;   
 }
}
    
@media (max-width: 600px) {
  .container-learned {
   display: grid;
   grid-column: 1 / -1;
   grid-template-columns: .6fr 4.3fr .6fr;
   grid-template-rows: .2fr 3fr ;
   grid-template-areas:
   ". learned-side-header ."
   ". learned-para .";
   height: 660px;

    }
 .learned-side-header {
  margin-bottom:0;   
 }
}

@media (max-width: 600px) {
.container-portrait {
    display: grid;
    grid-template-columns: .6fr 4.3fr .6fr;
    grid-template-areas: 
      ". portrait-img ."
      ". para-portrait .";
   
}
.portrait-img {
grid-area: portrait-img;
display: block;
margin-left: auto;
margin-right: auto;
width: 100%;
margin-bottom: 0px;
}
}

/* Tablet & Laptop */
@media (min-width: 900px) {
    .all-stories {
        height: 725px;
    }
    
    .container-user-flows {
        margin-top: 1.3em;
    }
    
    .project-img {
        height: 400px;
    }
    
    .text {
        font-size: 2em;
    }
}

@media (min-width: 1200px) {
    .results-para, .ana-para, .flows-para, .personas-first-liner, .stories-para, 
    .branding-para, .wireframes-para, .iterations-para, .learned-para  {
        width: 85%;
    }
    
    a bottom.btn {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-column: 2 / 3;
    }
    
    
    .all-stories {
        height: 725px;
    }
    
    .container-user-flows {
        margin-top: 1.3em;
    }
    
    .project-img {
        height: 400px;

    }
    
    .text {
        font-size: 2em;
    }
}



