:root {
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  --primary: #ddd;
  --dark: #333;
  --light: #fff;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {

    font-size: 1rem;
	  color: #2A404E;
    word-wrap: break-word;
	  background-color: #f5f5f5;
    font-family: 'muli', sans-serif;
    height: 100%;

}

.btn {
  background: var(--light);
  color: var(--dark);
  padding: 0.6rem 1.3rem;
  text-decoration: none;
  border: 0;
  margin: 2rem 3rem;



}

.btn a:hover {
    background: var(--dark);
    color: var(--light);
    margin-top: 30px;
}

img {
  max-width: 100%;
}

.wrapper {
    display: grid;
    grid-gap: 20px;
}

/* ----- NAVIGATION ----- */

#logo {
  margin-top: 25px;
  margin-left: 50px;
  size: 30px;

}

nav.navbar {
    z-index: 99;
    margin: auto;
    float: right;
    text-decoration: none;
}


ul.top-nav {
    list-style-type: none;
    margin-right: 50px;
    padding: 0;


}

li.nav {
    display: inline;
    padding: 16px;
    float: right;
    margin-right: 50px;
    margin-top: 25px;
    text-decoration: none;
}

/* --- Change color on hover --- */
.navbar a:hover {
    background-color: #F3E4DF;
    color: #2A404E;
}


/* --- HERO --- */
.hero-intro {
    text-align: center;

    font-size: 64px;
    background: linear-gradient(to right, white 20%, #d59696 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

#site-title {
  margin-top: 200px;
}

h1.headline {
  text-align: center;
  font-weight: lighter;
  color: #2A404E;
  margin-top: 100px;
  font-size: 24px;
}

p.hero-description {
  text-align: center;
  padding: 50px;
  color: #2A404E;
}

/* --- PORTFOLIO PROJECTS --- */
section.container {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 300px 300px;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    margin-left: 30%;
    margin-top: 200px;
    border-color: black;


}

img.image {
    height: 300px;
    width: 300px;
    transition: .5s ease;
}

/* --- FOOTER --- */
section.contact {
  background-color: #F3E4DF;
  color: #2A404E;
  margin-top: 100px;
}

h3.connect-title {
    padding-top: 75px;
    padding-bottom: 30px;
    text-align: center;
}

p.connect-blurb {

  text-align: center;
  padding-bottom: 50px;
}



/* --- Change color on hover --- */
.social-link a:hover {
    background-color: #2A404E;
    color: #F3E4DF;
}

.social-link {
    list-style-type: none;
    text-align: center;
    padding-bottom: 50px;
}

.social-link a {
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;


}

.copyright {
    text-align: center;
    margin: 30px;
    font-size: 14px;

  }

/* --- Store.it hero --- */

.si-header {
  background: url("../images/si-hero-img.png") center / cover;
  height: 110vh;
}

.si-logo {
  width: 170px;
  height: 100px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 120px;
}

p.si-sub-headline {
  text-align: center;
  color: #F3E4DF;
  margin-top: 30px;

}






/* --- Roles, Deliverables, Tools (RDT) --- */

.container-section-RDT {
  background-color: #EEEAEA;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 220px 220px 220px ;
  grid-template-areas:
  'si-header-left si-header-middle si-header-right';
  max-width: 100%;
  justify-content: center;
  padding: 75px;



}

.si-header-left {
  grid-area: si-header-left;
  background-color: #EEEAEA;
  justify-content: center;

}

.si-ul-left {
  grid-area: si-ul-left;
  list-style-type: none;
  justify-content: center;
}


.si-header-middle {
  grid-area: si-header middle;

}

.si-ul-middle {
  grid-area: si-ul-middle;
  list-style: none;


}

.si-header-right {
  grid-area: si-right middle;

}

.si-ul-right {
  grid-area: si-ul-right;
  list-style: none;
}


/* --- PROBS & SOLUTIONS --- */
.container-prob-solution{
  display: grid;
  grid-gap: 50px;
  grid-template-areas:
  'prob-solution-left-side prob-solution-right-side';
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 300px;
  padding: 75px;
}

.prob-solution-left-side {
  grid-area: prob-solution-left-side;
  justify-content: center;


}

.prob-solution-right-side {
  grid-area: prob-solution-right-side;
  grid-column: 2;
  grid-row: 1;
}

/* --- USER RESEARCH --- */
.container-research {
  display: grid;
  background-color:#F3E4DF;
  grid-template-areas:
  'results-side-header results-para';
  grid-template-columns: 20% auto;
  grid-template-rows: 150px;
  grid-gap: 50px;
  padding: 75px;

}

.results-side-header {
  grid-area: results-side-header;
}

.results-para {
  grid-area: results-para;
  grid-column: 2;
  grid-row: 1;
}

/* --- USER RESEARCH PERCENTAGES --- */
.container-research-percentages {
  display: grid;
  background: url("../images/plants.png");
  background-size: cover;
  background-position: center;
  grid-template-areas:
  'h4 percent-desc'
  'h4 percent-desc'
  'h4 percent-desc'
  'h4 percent-desc'
  'h4 percent-desc';
  grid-template-rows: 75px 75px 75px 75px 75px;
  grid-template-columns: 100px 500px;
  padding: 75px;

}

h4 {
  grid-area: h4;
  font-size: 24px;
  color: #F3E4DF;
}

percent-desc {
  grid-area: percent-desc;
  color: #F3E4DF;
}

/* ----- MEDIA QUERIES ----- */
@media (max-width: 640px) {
    main ol li, main ul li {
    margin-left: 1.25rem;
    }
}

@media (max-width: 425px) {
    .contact-contents {

    }
    .contact-title, .contact-description, .contact-info {
        text-align: left;
    }
    .contact-info {
        margin-bottom: 2.625rem;
    }
}

@media (max-width: 375px) {

    .fold a {
        font-size: 1.5rem;
        padding: 1.25rem 5rem;
        border: 0;
        text-decoration: none;
    }
}

